/*  ************************    COLOR KIT - CSS MOBILE FIRST   **************************************  */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  START BASE  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* RESET - Enlever les styles par défaut */
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
font-size: 62.5%; /* 62.5% passe la police par défaut à 10px donc ensuite 1 rem = 10px */
}

body{
  color: #41055b;
  font-family: "poppins", sans-serif;
  font-size: 1.8rem;
  background: linear-gradient(90deg, #7733c3, #ff66cc);
  background-repeat: no-repeat;
  background-size: 100% 100%;     
  margin: 0;
  padding: 0;    
}

.list-unstyled { /* Enlever les puces des listes */
  list-style: none; 
  margin: 0;
  padding: 0;
}

/* ~~~~~~~~~~  TITLES  ~~~~~~~~~~ */
.header__subtitle {
  margin-left: 2rem;
  font-size: 4rem;
  font-family: "yellowtail", cursive;
  font-weight: 500;
  color: #41055b;
  display: none;
}

h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;  
}



h3{
  font-size: 2.5rem;
}

/* ~~~~~~~~~~  LINKS  ~~~~~~~~~~ */
a {
  text-decoration: none; /* Enlever le soulignement des liens */
  color: inherit; /* Prendre la couleur du parent */
}

/* ~~~~~~~~~~  TEXT  ~~~~~~~~~~ */
p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.8rem;  
}

/* ~~~~~~~~~~  FOOTER  ~~~~~~~~~~ */
footer h3{
  font-size: 1.6rem;
  font-weight: 700;
}

footer p{
  font-size: 1.2rem;
  font-weight: 300;
}

.sr-only { 
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; 
  border: 0;
}

/* ~~~~~~~~~~  CTA BUTTONS  ~~~~~~~~~~ */
.cta__btn {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 3rem;
  padding: 0.9rem 2rem;

  background-color: #4a0867; 
  border: none; 
  border-radius: 5rem;
  color: #ff66cc; 
  box-shadow: 0 6px 15px rgba(118, 3, 126, 0.6);

  transition: 
    background-color 0.3s ease, 
    box-shadow 0.3s ease, 
    transform 0.2s ease;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.cta__btn:hover {
  background-color: #6f1da9; /* un violet un peu plus clair au hover */
  box-shadow: 0 4px 10px rgba(255, 102, 204, 0.6); /* glow rose */
}

.cta__btn:active {
  transform: scale(0.97);
  background-color: #7e26bbcc; /* léger fondu violet au clic */
  box-shadow: 0 4px 10px rgba(255, 102, 204, 0.6);
}

                    /* ~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px) {
  h2 {  
  font-size: 5rem;
}  
}

            /* ~~~~~~~~~~~~~~~~~~~~~~~~  DARK MODE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (prefers-color-scheme: dark) {

  body{
  color: #eee1ee;  
  background: linear-gradient(90deg, #19011c, #320138);  
}

.header__subtitle { 
  color: #eee1ee;  
}

/* ~~~~~~~~~~  CTA BUTTONS  ~~~~~~~~~~ */
.products__card-btn{
  border: solid; 
  border-radius: 50%;  
  color: #eee1ee;
  box-shadow: 0 6px 15px rgba(122, 3, 126, 0.6);
  

  transition: 
    background-color 0.3s ease, 
    box-shadow 0.3s ease, 
    transform 0.2s ease;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.products__card-btn:hover{
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(234, 215, 227, 0.3);
}

.products__card-btn:active{
  transform: scale(0.97);
  background-color: rgba(255, 255, 255, 0.236);
  box-shadow: 0 4px 10px rgba(234, 215, 227, 0.3);
}

.cta__btn {
  border: solid 2px #4a0867; 
  border-radius: 5rem;
  color: #4a0867; 
  background-color: #f9f7fb; 
  box-shadow: 0 6px 15px rgba(122, 3, 126, 0.4); 

  transition: 
    background-color 0.3s ease, 
    box-shadow 0.3s ease, 
    transform 0.2s ease;
  backdrop-filter: blur(10px);
  cursor: pointer;
  padding: 0.9rem 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 3rem;
}

.cta__btn:hover {
  background-color: #f66cef; 
  box-shadow: 0 4px 10px rgba(228, 203, 239, 0.6); 
}

.cta__btn:active {
  transform: scale(0.97);
  background-color: #e8e6f1; 
  box-shadow: 0 4px 10px rgba(74, 8, 103, 0.4);
}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  END BASE  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  START ANIMATION  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

                /* ~~~~~~~~~~  Anim bubbles - Hero Mobile Section  ~~~~~~~~~~ */
@keyframes floaty-random {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(25px, -10px) rotate(5deg);
  }
  40% {
    transform: translate(-10px, 30px) rotate(-5deg);
  }
  60% {
    transform: translate(20px, 10px) rotate(10deg);
  }
  80% {
    transform: translate(-25px, -30px) rotate(-10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes floaty-random-2 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-10px, 15px) rotate(-4deg);
  }
  40% {
    transform: translate(12px, -18px) rotate(6deg);
  }
  60% {
    transform: translate(-8px, -10px) rotate(-6deg);
  }
  80% {
    transform: translate(15px, 8px) rotate(4deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes floaty-random-3 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(20px, 10px) rotate(10deg);
  }
  40% {
    transform: translate(-5px, 20px) rotate(-5deg);
  }
  60% {
    transform: translate(-20px, -25px) rotate(7deg);
  }
  80% {
    transform: translate(10px, -35px) rotate(-10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes floaty-random-4 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-15px, -10px) rotate(5deg);
  }
  40% {
    transform: translate(10px, 25px) rotate(-7deg);
  }
  60% {
    transform: translate(-10px, 5px) rotate(3deg);
  }
  80% {
    transform: translate(5px, -20px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}


                 /* ~~~~~~~~~~  Anim img - Hero Desktop Section  ~~~~~~~~~~ */
@keyframes fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-zoom-in {
  animation: fadeZoomIn 0.6s ease-out forwards;
}

.fade-hidden {
  opacity: 0;
  transform: scale(0.9);
}


                    /* ~~~~~~~~~~  Anim text - Hero Desktop Section  ~~~~~~~~~~ */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

                    /* ~~~~~~~~~~  Anim slider auto - About Section  ~~~~~~~~~~ */
@keyframes scrollSlider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  END ANIMATION  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ************************************   START GLOBAL PAGES ************************************* */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  START HEADER  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header {
  position: fixed;
  bottom: 0;
  top: auto;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 100vw;
  padding: 1rem 0;

  background-color: rgba(238, 73, 205, 0.3);
  backdrop-filter: blur(10px);
  box-shadow:
      rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
      rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
      rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;
}

.header__logo {
  width: 10rem;
  height: auto;
  display: none;
}


                  /* ~~~~~~~~~~~~~~~~~~~~~~~~   Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px) {
    
  .header {
    top: 0;
    bottom: auto;
    padding: 0;
  }

  .header__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 30rem;

    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
  }

  .header__logo,
  .header__subtitle {
    display: block;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  END HEADER  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START MENU BURGER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.burger__menu {
  display: block;
}

/* ~~~~~~~~~~ BUTTON ~~~~~~~~~~ */
.burger__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  gap: 2rem;

  position: relative;
  width: 6rem;
  height: 6rem;

  background-color: rgba(193, 17, 164, 0.6);
  border: none;
  border-radius: 4rem;

  cursor: pointer;  
}

/* ~~~~~~~~~~ BURGER BTN TEXT ~~~~~~~~~~ */
.burger__btn .burger__text {
  display: none;
}

/* ~~~~~~~~~~ BURGER BARS ~~~~~~~~~~ */
.burger__btn .burger__bars {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: relative;
}

.burger__btn .burger__bar {
  width: 3.5rem;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 0.2rem;
  transition: all 0.4s ease;
}

/* ~~~~~~~~~~ BURGER BARS TRANSFORM ~~~~~~~~~~ */
.burger__btn.active .burger__bars {
  position: relative;
}

.burger__btn.active .burger__bar:nth-child(1) { /* barre 1 tourne et se déplace */
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  width: 3.5rem;
}

.burger__btn.active .burger__bar:nth-child(2) { /* barre 2 disparaît */
  opacity: 0;
}

.burger__btn.active .burger__bar:nth-child(3) { /* barre 3 tourne et se déplace */
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 0;
  width: 3.5rem;
}

/* ~~~~~~~~~~ BURGER LIST ~~~~~~~~~~ */
.burger__list {
  display: none;
  flex-direction: column;
  align-items: center;
}

/* ~~~~~~~~~~ BURGER WRAP BOTTOM ~~~~~~~~~~ */
.burger__wrap {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;

  position: fixed;
  top: -21rem;
  right: 0;
  left: 0;

  width: 100%;
  max-width: 100vw;
  padding: 1rem;
  z-index: 1000;

  background-color: rgba(238, 73, 205, 0.9);
  backdrop-filter: blur(10px);

  box-shadow:
     rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
     rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
     rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* ~~~~~~~~~~ BURGER OPEN ~~~~~~~~~~ */
.burger__wrap.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.burger__wrap.open .burger__list {
  display: flex;
}

                  /* ~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px) {

/* ~~~~~~~~~~ NO BACKGROUND ~~~~~~~~~~ */
  .burger__btn {
    background: none;
  }

/* ~~~~~~~~~~ BURGER BTN TEXT ~~~~~~~~~~ */
  .burger__btn .burger__text {
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "poppins", sans-serif;
    color: #41055b;
  }

/* ~~~~~~~~~~ BARS COLOR ~~~~~~~~~~ */
  .burger__btn .burger__bar {  
    background-color: #41055b;  
}
  /* ~~~~~~~~~~ MIDDLE BAR HIDDEN ~~~~~~~~~~ */
  .burger__btn .burger__bar:nth-child(2) {
    display: none;
  }

  /* ~~~~~~~~~~ BURGER LIST ~~~~~~~~~~ */
  .burger__list {
    display: flex;
    flex-direction: row;
    gap: 8rem;
     margin-left: 4rem;
    align-items: center;
  }

/* ~~~~~~~~~~ BURGER WRAP TOP ~~~~~~~~~~ */
  .burger__wrap {
    top: 12rem;
  }
}



                  /* ~~~~~~~~~~~~~~~~~~~~~~~~   DARK MODE   ~~~~~~~~~~~~~~~~~~~~~ */

@media (prefers-color-scheme: dark) {
  /* ~~~~~~~~~~ BURGER BTN TEXT ~~~~~~~~~~ */
  .burger__btn .burger__text {
    
    color: #eee1ee;
  }

/* ~~~~~~~~~~ BARS COLOR ~~~~~~~~~~ */
  .burger__btn .burger__bar {  
    background-color: #eee1ee;  
}

.burger__wrap{
background-color: rgba(87, 4, 97, 0.9);
}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END MENU BURGER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START FOOTER SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.footer__container{
  display: flex;
  align-items: center;
  justify-content: center; 

  width: 100%;
  padding: 1rem;
  margin-bottom: 8rem; 
  margin-top: 8rem; 

  background-color: rgba(106, 13, 127, 0.3);
  backdrop-filter: blur(10px);  
}

.footer__grid-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.quick-links{
  text-decoration: underline;
  font-size: 1.4rem;
}

.quick-links li a:hover{
   color: #ba08ba
}

.social-links {
  display: flex;
  gap: 1.5rem; 
  justify-content: center;
  padding: 0;
  margin-top: 1rem;
  list-style: none;
}

.icon__etsy{
  color: #f56400
}

.icon__insta{
  color: #da0f9d
}




           /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 750px) {

  .footer__container{
    margin-bottom: 0;
    box-shadow: rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
                rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
                rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;
  }
  .footer__grid{
  display:flex;
  width: 100%;
  justify-content: space-between;
  margin:0 2rem;
  padding: 1rem;   
}

.footer__grid-item{  
  margin-top: 0;  
}  
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END FOOTER SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*  *********************************  END - GLOBAL PAGES  ******************************************  */









/*  *********************************   START - INDEX   ******************************************  */
  
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START HERO SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~ HERO MOBILE ONLY ~~~~~~~~~~ */
.hero-mobile {
  display: block;
  margin: 0 auto;
}

.hero-desktop {
  display: none;
  margin-top: 10rem;
  padding-top: 8rem;
}

/* ~~~~~~~~~~ GRID BUBBLES ~~~~~~~~~~ */
.hero-mobile__grid {
  position: relative;
  display: grid;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 5rem;
  grid-template-columns: repeat(5, 1fr);
}

/* ~~~~~~~~~~ ITEMS POSITION ~~~~~~~~~~ */
.hero-mobile__grid-item--logo {
  display: flex;
  justify-content: center;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.hero-mobile__grid-item--nuanciers {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  animation: floaty-random-4 20s infinite ease-in-out;
  animation-direction: alternate;
}

.hero-mobile__grid-item--trackers {
  grid-column: 3 / 6;
  grid-row: 3 / 4;
  margin-top: -5rem;
  animation: floaty-random 30s infinite ease-in-out;
  animation-direction: alternate;
}

.hero-mobile__grid-item--stickers {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  margin-top: -3rem;
  animation: floaty-random-3 30s infinite ease-in-out;
  animation-direction: alternate;
}

/* ~~~~~~~~~~ LOGO ~~~~~~~~~~ */
.hero-mobile__logo {
  display: flex;
  width: 15rem;
  height: 15rem;
  padding: 0;
  background-image: url(images/logos/logo-color-kit.png);
  background-position: center;
  background-size: 120%;
  border-radius: 45% 55% 45% 55% / 44% 42% 58% 56%;
  box-shadow: 
      rgba(57, 5, 73, 0.25) 0px 50px 100px -20px, 
      rgba(70, 4, 71, 0.3) 0px 30px 60px -30px, 
      rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
  animation: floaty-random-2 20s infinite ease-in-out;
  animation-direction: alternate;
}

/* ~~~~~~~~~~ LINKS ~~~~~~~~~~ */
.hero-mobile__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 15rem;
  margin: 0 auto;
  padding: 0;
  height: auto;

  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  aspect-ratio: 1 / 1;

  background: linear-gradient(90deg, #ee52ba, #7826d7);
  border-radius: 45% 55% 70% 30% / 44% 58% 42% 56%;
  box-shadow: 
      rgba(57, 5, 73, 0.25) 0px 50px 100px -20px, 
      rgba(70, 4, 71, 0.3) 0px 30px 60px -30px, 
      rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;
}

                      /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px) {

  /* ~~~~~~~~~~ HERO DESKTOP ONLY ~~~~~~~~~~ */
  .hero-mobile {
    display: none;
  }

  .hero-desktop {
    display: block;
  }

  .hero-desktop__container{    
    margin-top: -6rem;
  }

  .hero-desktop__grid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30rem 0 10rem;
  }

  .hero-desktop__grid-item--left{
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
  }

/* ~~~~~~~~~~ IMAGE ~~~~~~~~~~ */
  .hero-desktop__img {
    width: 85%;
    height: auto;
    display: block;

    opacity: 0;
    transform: scale(0.9);
    animation: fadeZoomIn 1s ease-out forwards;
    animation-delay: 0.3s;
}
} 

  .hero-desktop__grid-item--right{
    flex: 1;
    text-align: center;
  }

/* ~~~~~~~~~~ TEXT ~~~~~~~~~~ */
  .hero-desktop__text{
    font-size: 3rem;
    opacity: 0;
    animation: slideInLeft 0.8s ease-out forwards;
    animation-delay: 0.2s;
    transform: translateX(50px);
  }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END HERO SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START ABOUT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.about__container {
  padding: 4rem 0;
 
}

.about__grid {
  display: flex;
  flex-direction: column;
}
/* ~~~~~~~~~~   LEGENDES   ~~~~~~~~~~ */
.about__img-with-caption {
  position: relative;
  display: inline-block;
  width: auto;  
}
/* ~~~~~~~~~~   IMAGES   ~~~~~~~~~~ */
.about__img{
display: block;
width: 60rem;
height: auto;
}

/* ~~~~~~~~~~   POSITION DES IMAGES EN LIGNE   ~~~~~~~~~~ */
.about__slider-wrapper {  
  width: 100%;
  overflow: hidden;
}

.about__list-img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: max-content;
  scrollbar-width: none;
  animation: scrollSlider 60s linear infinite; 
}

.about__list-img li {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: fit-content;
}

/* ~~~~~~~~~~  POSITION DES LEGENDES   ~~~~~~~~~~ */
.about__caption {
  display: flex;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%); /* ajouter au left 50% = centrer parfaitement*/
}

/* ~~~~~~~~~~  INTRO COLOR KIT   ~~~~~~~~~~ */
.about__grid-item--intro{  
  padding: 1rem;
  text-align: justify;  
}

/* ~~~~~~~~~~  BIO   ~~~~~~~~~~ */
.about__grid-bottom{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;  
}

.about__avatar{
  display: flex;
  border-radius: 50%;
  width: 30rem;
  height: auto;
}

.about__grid-item--bio{  
  padding: 1rem;
  text-align: justify;
  width: 100%;  
  align-items: center; 
}


                /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px){

/* ~~~~~~~~~~  ORDRE D'APPARITION DIFFERENT   ~~~~~~~~~~ */
  .about__grid-item--intro {
    order: 1;
  }

  .about__grid-item--img {
    order: 2;
  }

.about__grid-bottom {
    order: 3;
}
/* ~~~~~~~~~~  IMAGES SLIDER   ~~~~~~~~~~ */
  .about__img{
    display: block;
    width: 80rem;
    height: auto;
    margin: 0 auto;
}
/* ~~~~~~~~~~  INTRO COLOR KIT   ~~~~~~~~~~ */
.about__grid-item--intro{  
  padding: 3rem;
  text-align: center;
}

/* ~~~~~~~~~~  BIO   ~~~~~~~~~~ */
.about__grid-bottom{
  display: flex;
  flex-direction: row;  
  padding: 3rem;
  margin: 5rem;
  gap: 10rem;
  justify-content: flex-start;
  align-items: center;
}
/* ~~~~~~~~~~  AVATAR   ~~~~~~~~~~ */
.about__avatar{
  display: flex;
  border-radius: 50%;
  width: 45rem;
  height: auto;
}
/* ~~~~~~~~~~  TEXT   ~~~~~~~~~~ */
.about__grid-item--bio{  
  padding: 6rem;
  width: 100%;
  align-items: center;  
}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END ABOUT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START PRODUCTS SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.products__grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  
}
/* ~~~~~~~~~~   CARDS STYLES   ~~~~~~~~~~ */
.products__grid-item{
  width: 35rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;

  border-radius: 2rem;
  background-color: rgba(238, 73, 205, 0.3);
  backdrop-filter: blur(10px);
  box-shadow:
      rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
      rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
      rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;
}

.products__card-img{
  width: 100%;
  height: auto;
}

/* ~~~~~~~~~~   CARDS CAPTION   ~~~~~~~~~~ */
.products__card-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ~~~~~~~~~~   BUTTON   ~~~~~~~~~~ */
.products__card-btn {
  display: block;
  text-align: center;
  margin: 3rem;
  padding: 0.9rem 2rem;

  border: solid;
  border-radius: 2rem;  
  color: #4a0867;
  box-shadow: 0 6px 15px rgba(118, 3, 126, 0.6);
  

  transition: 
    background-color 0.3s ease, 
    box-shadow 0.3s ease, 
    transform 0.2s ease;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.products__card-btn:hover{
  background-color: rgba(234, 150, 231, 0.51);
  box-shadow: 0 4px 10px rgba(234, 215, 227, 0.3);
}

.products__card-btn:active{
  transform: scale(0.97);
  background-color: rgba(255, 255, 255, 0.236);
  box-shadow: 0 4px 10px rgba(234, 215, 227, 0.3);
}

                    /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px){

  .products__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;    
  }

  .products__grid-item{  
    width: 40rem;
    height: auto;
    margin: 1rem;    
}
}

                    /* ~~~~~~~~~~~~~~~~~~~~~~~~  Dark Mode   ~~~~~~~~~~~~~~~~~~~~~ */

@media (prefers-color-scheme: dark) {
  /* ~~~~~~~~~~ BUTTONS ~~~~~~~~~~ */
   .products__card-btn {
    color: #eee1ee;
    border-color: #eee1ee;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.4);
  }

  .products__card-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  }

  .products__card-btn:active {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(0.97);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END PRODUCTS SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START GALLERY SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.gallery__slider{
  position: relative;     
}
/* ~~~~~~~~~~   IMG POSITION IN LINE   ~~~~~~~~~~ */
.gallery__swiper-wrapper{  
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 5rem;
}

.gallery__img{
  display: block;
  width: 60rem;
  height: auto;
  border-radius: 1rem;
}

/* ~~~~~~~~~~   ARROWS POSITION   ~~~~~~~~~~ */
.gallery__swiper-btn-group{
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  right: 1rem;
  justify-content: space-between;
}
/* ~~~~~~~~~~  BUTTON STYLE   ~~~~~~~~~~ */
.gallery__swiper-btn {
  border-radius: 50%;
  background-color: rgba(255, 105, 180, 0.2); 
  border: none;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.3s ease;
  pointer-events: all;
  z-index: 2;
}
/* ~~~~~~~~~~  ARROW STYLE   ~~~~~~~~~~ */
.gallery__swiper-btn svg {
  fill: white; 
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}
/* ~~~~~~~~~~  TAP EFFECT   ~~~~~~~~~~ */
.gallery__swiper-btn:active {
  background-color: rgba(255, 105, 180, 0.6); 
  transform: scale(0.95); 
}

                      /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px){

  .swiper-container{
    padding: 2rem;
  }

  .gallery--slider{
    padding: 2rem; 
}

/* ~~~~~~~~~~  BUTTON HIDDEN   ~~~~~~~~~~ */
  .gallery__swiper-btn-group{
    display: none;
  }

/* ~~~~~~~~~~  IMAGE   ~~~~~~~~~~ */
  .gallery__swiper-slide {
    height: 40rem; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 2rem; 
}
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

/* ~~~~~~~~~~   GRID ORGANISATION   ~~~~~~~~~~ */
.gallery__swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

   .gallery__swiper-slide:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1;
   }

   .gallery__swiper-slide:nth-child(2){
    grid-column: 2 / 5;
    grid-row: 1;
   }

   .gallery__swiper-slide:nth-child(3){
    grid-column: 1 / 4;
    grid-row: 2;
   }

   .gallery__swiper-slide:nth-child(4){
    grid-column: 4 / 5;
    grid-row: 2;
   } 
  }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END GALLERY SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START CONTACT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~   GRID ORGANISATION   ~~~~~~~~~~ */
.contact__grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 5rem;
}

.contact__grid-item--form{
  text-align: justify;
}

/* ~~~~~~~~~~   FORM STYLE & POSITION   ~~~~~~~~~~ */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;  
}


form label{
  display: flex;
  flex-direction: column;
  width: 100%;
}


form input{
  width: 100%;
  height: 3rem;

  border: 0.2rem solid #ee52ba;
  border-radius: 1rem;
  background-color: #eee1ee;  
}

textarea{
  width: 100ù;
  height: 15rem;
  border: 0.2rem solid #ee52ba;
  border-radius: 1rem;
  background-color: #eee1ee;
}

/* ~~~~~~~~~~   PRENOM + MAIL INPUT POSITION   ~~~~~~~~~~ */ 
.form__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

/* ~~~~~~~~~~   CHECKBOX STYLE & POSITION   ~~~~~~~~~~ */
.checkbox-label{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap:1rem;
  padding: 0;
  margin-left: 0;
  font-size: 1.4rem;
  font-weight: 300;
  
}

.checkbox-label input[type="checkbox"] {
  margin-top: 0.2rem; 
  flex-shrink: 0;
  width: 2rem; 
  height: 2rem;  
}

/* ~~~~~~~~~~   PLACEHOLDER STYLE   ~~~~~~~~~~ */
::placeholder {
  color: #7826d7;
  font-style: italic;
  font-size: 1.2rem;
}

/* ~~~~~~~~~~   FORM BUTTON SUBMIT   ~~~~~~~~~~ */
.submit__btn{
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;  
  padding: 1rem 3rem;
  background: none;

  
  border: solid;
  border-radius: 2rem;  
  color: #4a0867;
  box-shadow: 0 6px 15px rgba(118, 3, 126, 0.6);
  

  transition: 
  background-color 0.3s ease, 
  box-shadow 0.3s ease, 
  transform 0.2s ease;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.submit__btn:hover{
  background-color: rgba(234, 150, 231, 0.51);
  box-shadow: 0 4px 10px rgba(234, 215, 227, 0.3);
}

.submit__btn:active{
  transform: scale(0.97);
  background-color: rgba(255, 255, 255, 0.236);
  box-shadow: 0 4px 10px rgba(234, 215, 227, 0.3);
}

/* ~~~~~~~~~~   INSTA PART   ~~~~~~~~~~ */
.contact__grid-item--insta-share {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__grid-item--insta-share h3 {
  align-self: flex-start;
  text-align: left;
  width: 100%;
}

.contact__grid-item--insta-share svg{
  color: #4f1a8b;
  width: 10rem;
  height: auto;
}



                  /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 750px) {

/* ~~~~~~~~~~   GRID POSITION   ~~~~~~~~~~ */
  .contact__grid{    
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 3rem 20rem;
    gap: 8rem;

    background-color: rgba(238, 73, 205, 0.3);
    backdrop-filter: blur(10px);
    box-shadow:
      rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
      rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
      rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;
}
/* ~~~~~~~~~~   FORM & INSTA INLINE POSITION    ~~~~~~~~~~ */
  .form__row {
    flex-direction: row;
  }

  .form__row label {
    flex: 1;
  }

  .contact__grid-item--form {
    flex: 2;
}

  .contact__grid-item--insta-share {
    flex: 1;
} 
}


              /* ~~~~~~~~~~~~~~~~~~~~~~~~  Dark Mode   ~~~~~~~~~~~~~~~~~~~~~ */

@media (prefers-color-scheme: dark) {
   .submit__btn {
    color: #eee1ee;
    border-color: #eee1ee;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.4);
  }

  .submit__btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  }

  .submit__btn:active {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(0.97);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  }

  .contact__grid-item--insta-share svg{
  color: #9c5ce5;
  
}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END CONTACT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*  *********************************    END - INDEX   ******************************************  */





/*  *****************************    START - NUANCIERS / STICKERS PAGES  ******************************  */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START CAROUSEL 3D SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~   TITLE   ~~~~~~~~~~ */
.carousel3D__title{
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  gap: 2rem;
  width:100%;  
}

h1{
  font-size: 4rem;
}
/* ~~~~~~~~~~   CAROUSEL CONTAINER   ~~~~~~~~~~ */
.carousel3D__wrapper{
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 40rem; 
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;    
}

/* ~~~~~~~~~~   CAROUSEL POSITION   ~~~~~~~~~~ */
.carousel3D__nuanciers{
  display: flex;
  width: 100%;
  max-width:100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* ~~~~~~~~~~   CAROUSEL   ~~~~~~~~~~ */
.carousel3D__slide{ 
  width: 100%;
  max-width: 100%;

  perspective: 1500px; /* effet 3D */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;  
/* ~~~~~~~~~~  MASKING SCROLLBAR   ~~~~~~~~~~ */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE et Edge */
}

.carousel3D__slide::-webkit-scrollbar { /* Safari */
  display: none;
}


/* ~~~~~~~~~~   BUTTONS  ~~~~~~~~~~ */
.carousel3D__btn{  
  display: flex;
  justify-content:center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  pointer-events: all;
  z-index: 2;   
}

.carousel3D__btn--prev {
  left: 0.5rem;
  border-radius: 50%;
  background-color: rgba(255, 105, 180, 0.2); 
  border: none; 
  position: absolute;
  bottom: -20rem;  /* descend le bouton */  
}

.carousel3D__btn--next {
  right: 0.5rem;
  border-radius: 50%;
  background-color: rgba(255, 105, 180, 0.2); 
  border: none;
  position: absolute; 
  bottom: -20rem;  /* descend le bouton */    
}

.carousel3D__btn svg{
  fill: #eee1ee;
}


/* ~~~~~~~~~~   CARDS   ~~~~~~~~~~ */
.carousel3D__card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  position: absolute;  

  width: 20rem;
  height: 30rem;

  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  cursor: pointer;

  background-size: cover;
  background-position: center;
/* ~~~~~~~~~~   EFFET passe l'une devant l'autre   ~~~~~~~~~~ */
  transition: transform 0.5s ease, z-index 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}

/* ~~~~~~~~~~   CAPTIONS   ~~~~~~~~~~ */
.carousel3D__caption{
  color: #41055b;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;

  background-color: rgba(238, 73, 205, 0.3);
  backdrop-filter: blur(10px);
  box-shadow:
      rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
      rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
      rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;  
}



                  /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 750px) {
/* ~~~~~~~~~~   TITLE   ~~~~~~~~~~ */
  h1{
    font-size: 5rem;
  }

  .carousel3D__title{  
    margin-top: 15rem;    
}

/* ~~~~~~~~~~   BUTTONS   ~~~~~~~~~~ */
  .carousel3D__btn--prev {
    left: 20rem;  
}

.carousel3D__btn--next {
  right: 20rem;   
}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   NUANCIERS - IMAGES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.carousel3D__card--N1{
    background: url(images/produits/nuanciers/nuancier-eventail-telecharger-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N2{
    background: url(images/produits/nuanciers/couverture-nuanciers-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N3{
    background: url(images/produits/nuanciers/nuancier-48-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N4{
    background: url(images/produits/nuanciers/nuancier-72-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N5{
    background: url(images/produits/nuanciers/nuancier-100-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N6{
    background: url(images/produits/nuanciers/nuancier-120-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N7{
    background: url(images/produits/nuanciers/nuancier-150-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N8{
    background: url(images/produits/nuanciers/couverture-nuanciers-a5-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N9{
    background: url(images/produits/nuanciers/nuancier-48-a5-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N10{
    background: url(images/produits/nuanciers/nuancier-72-a5-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N11{
    background: url(images/produits/nuanciers/nuancier-100-a5-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N12{
    background: url(images/produits/nuanciers/nuancier-120-a5-color-kit.webp);
    background-size: cover;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   STICKERS - IMAGES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.carousel3D__card--S1{
    background: url(images/produits/stickers/stickers-rond-1-130-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S2{
    background: url(images/produits/stickers/stickers-rond-131-260-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S3{
    background: url(images/produits/stickers/stickers-rond-check-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S4{
    background: url(images/produits/stickers/stickers-rond-mood-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S5{
    background: url(images/produits/stickers/stickers-rectangle-1-130-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S6{
    background: url(images/produits/stickers/stickers-rectangle-131-260-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S7{
    background: url(images/produits/stickers/stickers-carres-check-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S8{
    background: url(images/produits/stickers/stickers-carres-mood-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S9{
    background: url(images/produits/stickers/etiquettes-organisation-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S10{
    background: url(images/produits/stickers/etiquettes-vierge-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S11{
    background: url(images/produits/stickers/stickers-inspirants-color-kit.webp);
    background-size: cover;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END CAROUSEL 3D SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START CTA  SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~   CTA CARDS GRID   ~~~~~~~~~~ */
.carousel3D__cta {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center; 
}

.cta__grid{
  display: flex;
  align-items: stretch; 
  justify-items: flex-start;
  gap: 0.5rem;
}

/* ~~~~~~~~~~  CARDS STYLES   ~~~~~~~~~~ */
.cta__grid-item{  
  width: 16rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;

  border-radius: 2rem;
  background-color: rgba(238, 73, 205, 0.3);
  backdrop-filter: blur(10px);
  box-shadow:
      rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
      rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
      rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;
}

.cta__card-img{
  width: 12rem;
  height: auto;
}

/* ~~~~~~~~~~  CTA CARDS CAPTION   ~~~~~~~~~~ */
.cta__card-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cta__card-description{
  font-size: 1.2rem;
}



                  /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 750px) {

  .cta__grid{
    gap: 3rem;
}

/* ~~~~~~~~~~   CARDS STYLE   ~~~~~~~~~~ */
  .cta__grid-item {
    width: 32rem; 
    padding: 1.5rem;
    margin: 1rem auto; 
}
  .cta__card-img {
    max-width: 12rem; 
    margin: 0 auto 1rem; 
    display: block;
}

.cta__card-description{
  font-size: 1.6rem;
}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START CTA  SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*  ****************************    END -  NUANCIERS / STICKERS PAGES  *******************************  */







/*  *************************************   START TRACKERS PAGE  **************************************  */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START TRACKERS SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.trackers__title{
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  gap: 2rem;
  width:100%;  
}

.trackers__grid{
  display: grid;
  grid-template-columns: 1fr; 
  justify-items: center;
  
}
/* ~~~~~~~~~~   CARDS STYLES   ~~~~~~~~~~ */
.trackers__grid-item{
  width: 35rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;

  align-items: center;
  justify-content: center;

  background: url(/images/produits/trackers/splash2.png);
  background-position: 60% center; 
}

.trackers__card-title{
  text-align: center;
    text-shadow: 
    0 0 5px #ffaaf2,    
    0 0 10px #d96aff,   
    0 0 20px #b35cd6,   
    0 0 30px #9a44b5;
}

.trackers__card {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: flex-start;
}

/* ~~~~~~~~~~   CARDS CAPTION   ~~~~~~~~~~ */
.trackers__card-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

/* ~~~~~~~~~~   BUTTON   ~~~~~~~~~~ */
.trackers__card-btn {
  display: block;
  text-align: center;
  margin: 3rem;
  padding: 0.9rem 2rem;

  border: solid;
  border-radius: 2rem;  
  color: #4a0867;
  box-shadow: 0 6px 15px rgba(118, 3, 126, 0.6);
  

  transition: 
    background-color 0.3s ease, 
    box-shadow 0.3s ease, 
    transform 0.2s ease;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.trackers__card-btn:hover{
  background-color: rgba(234, 150, 231, 0.51);
  box-shadow: 0 4px 10px rgba(234, 215, 227, 0.3);
}

.trackers__card-btn:active{
  transform: scale(0.97);
  background-color: rgba(255, 255, 255, 0.236);
  box-shadow: 0 4px 10px rgba(234, 215, 227, 0.3);
}

                    /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px){

  .trackers__title{
    margin-top: 15rem;    
}

 .trackers__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .trackers__grid-item {
    width: 40rem;
    height: auto;
    margin: 1rem;
  }

  .trackers__grid-item--4 {
    grid-column: 1 / -1;    
    width: 100rem;    
  }

  .trackers__grid-item--4 img{
    width: 60rem;
    height: auto;    
  }
}

                    /* ~~~~~~~~~~~~~~~~~~~~~~~~  Dark Mode   ~~~~~~~~~~~~~~~~~~~~~ */

@media (prefers-color-scheme: dark) {
  /* ~~~~~~~~~~ BUTTONS ~~~~~~~~~~ */
   .trackers__card-btn {
    color: #eee1ee;
    border-color: #eee1ee;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.4);
  }

  .trackers__card-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  }

  .trackers__card-btn:active {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(0.97);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END TRACKERS SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */




/*  ***************************    START - LANDING STICKERS & TRACKERS   *****************************  */

/* ~~~~~~~~~~   STICKERS IMAGE   ~~~~~~~~~~ */
.comingsoon__stickers {
  width: 100%;
  min-height: 100vh;

  background-image: url('../images/landing/stickers-portrait-landing-color-kit.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: bottom;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
}

/* ~~~~~~~~~~   TRACKERS IMAGE   ~~~~~~~~~~ */
.comingsoon__trackers{
  width: 100%;
  min-height: 100vh;

  background-image: url('../images/landing/trackers-portrait-landing-color-kit.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: bottom;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
}


/* ~~~~~~~~~~   ENCART TEXT   ~~~~~~~~~~ */
.comingsoon__overlay {
  width: 100%;
  max-width: 100rem;

  background-color: rgba(65, 4, 83, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  border-radius: 1.5rem;
  padding: 2rem;
  margin-top: 5rem; 
  text-align: center;
}

.comingsoon__text {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comingsoon__title {
  font-size: 2.5rem;
  font-weight: 700;
}

.comingsoon__description {
  font-size: 1.8rem; 
  padding: 2rem;
  text-align: justify;
}

/* ~~~~~~~~~~   BUTTONS LINK   ~~~~~~~~~~ */
.comingsoon__btn-shop{
    border: solid; 
    padding: 0.9rem 2rem;
    border-radius: 2rem;  
    color: #eee1ee;
    box-shadow: 0 6px 15px rgba(122, 3, 126, 0.6);  

  transition: 
    background-color 0.3s ease, 
    box-shadow 0.3s ease, 
    transform 0.2s ease;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.comingsoon__btn-shop:hover{
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(234, 215, 227, 0.3);
}

.comingsoon__btn-shop:active{
  transform: scale(0.97);
  background-color: rgba(255, 255, 255, 0.236);
  box-shadow: 0 4px 10px rgba(234, 215, 227, 0.3);
}

/* ~~~~~~~~~~   BUTTON BACK  ~~~~~~~~~~ */
.comingsoon__btn-back {  
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 3rem;
  padding: 0.9rem 2rem;
  background: none;
}

.comingsoon__btn-back:hover{
  color: #eee1ee
}

/* ~~~~~~~~~~   FOOTER  ~~~~~~~~~~ */
.footer-landing__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;

  background-color: rgba(106, 13, 127, 0.3);
  backdrop-filter: blur(10px);  
}

.footer-landing__logo{
  width: 5rem;
  height: 5rem;
}

                  /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 750px) {
  /* ~~~~~~~~~~   IMAGES  ~~~~~~~~~~ */

  .comingsoon__stickers {
    background-image: url('../images/landing/stickers-paysage-landing-color-kit.png');
}

  .comingsoon__trackers{ 
    background-image: url('../images/landing/trackers-paysage-landing-color-kit.png');
}

/* ~~~~~~~~~~   FOOTER LOGO  ~~~~~~~~~~ */
.footer-landing__logo{
  width: 10rem;
  height: 10rem;
}
}
/*  ***************************   END - LANDING STICKERS & TRACKERS   *****************************  */