/*  ************************    COLOR KIT - CSS MOBILE FIRST   **************************************  */

/*  ***********************************    START GLOBAL CSS    **************************************  */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  START BASE  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* RESET - Enlever les styles par défaut */
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
font-size: 62.5%; /* 62.5% passe la police par défaut à 10px donc ensuite 1 rem = 10px */
}

body{
  color: #41055b;
  font-family: "poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  background: linear-gradient(90deg, #7733c3, #ff66cc);
  background-size: cover;     
}

.list-unstyled { /* Enlever les puces des listes */
  list-style: none; 
 }

/* ~~~~~~~~~~  TITLES  ~~~~~~~~~~ */
h1{
  display: none;
}

.landing-page h1{
  display: block;
  font-family: "poppins", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.hero__title {
  font-size: clamp(8rem, 8vw, 6rem);
  font-weight: 700;
  font-family: "yellowtail", cursive;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
  
  animation: glowTitle 2s ease-out forwards;
  opacity: 0;
  transform: scale(0.8);
}

h2 {
  margin: 5rem 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;  
}

.legal__title{
  font-size: 2rem;
  text-align: left;
}

h3{
  font-size: 2.5rem;
  margin-bottom: 1.8rem; 
}

footer h3{
  font-size: 1.6rem;
  font-weight: 700;
}

/* ~~~~~~~~~~  LINKS  ~~~~~~~~~~ */
a {
  text-decoration: none; /* Enlever le soulignement des liens */
  color: inherit; /* Prendre la couleur du parent */
  cursor: pointer;
}

.legal__link{
  text-decoration: underline;
  font-weight: 700;
}

.legal__link--footer{
  font-size: 1.2rem;
  font-weight: 300;
}

.quick-links{  
  font-size: 1.4rem;
}

.quick-links li a{
  text-decoration: underline;
}

.quick-links li a:hover{
   color: #ba08ba
}

/* ~~~~~~~~~~  TEXT  ~~~~~~~~~~ */
p {  
  margin-bottom: 1.8rem;  
}

footer p{
  font-size: 1.2rem;
  font-weight: 300;
}

.page__intro{
  text-align: center;
}

/* ~~~~~~~~~~  ICONS  ~~~~~~~~~~ */
.icon--etsy{
  color: #f56400
}

/* ~~~~~~~~~~  HEADER  ~~~~~~~~~~ */
.header {
  position: fixed;
  bottom: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%; 
  padding: 1rem 0;

  background-color: rgba(238, 73, 205, 0.3);
  backdrop-filter: blur(10px);
  box-shadow:
      rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
      rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
      rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;
}

.logo--header {
  width: 10rem;
  height: auto;
  display: none;
}

/* ~~~~~~~~~~  FOOTER  ~~~~~~~~~~ */
.footer__container{
  display: flex;
  align-items: center;
  justify-content: center; 

  width: 100%;
  padding: 1rem 0 8rem 0;
  margin: 0;   

  background-color: rgba(106, 13, 127, 0.3);
  backdrop-filter: blur(10px);  
}

.footer__grid-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;   
  padding: 0;
  margin-top: 1rem;
  list-style: none;
}


                    /* ~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px) {

/* ~~~~~~~~~~  TITLE  ~~~~~~~~~~ */ 
  h1{
    display: block;    
    font-size: 4rem;
    font-family: "yellowtail", cursive; 
  }

  h2 {  
  font-size: 5rem;
  } 
  
.hero__title{
  font-size: 20rem;
}

.page__title{
  margin-top: 20rem;
  }

.footer__grid-item--quick-links{
  text-align: left;
}

/* ~~~~~~~~~~  HEADER  ~~~~~~~~~~ */ 
  .header {
    top: 0;
    bottom: auto;
    padding: 0;
  }

  .header__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 30rem;

    max-width: 1200px;    
    margin: 0 auto;
    padding: 1rem;
  }

  .logo--header {
    display: flex;
  }

/* ~~~~~~~~~~  FOOTER  ~~~~~~~~~~ */
  .footer__container{
    padding: 0.5rem;
  }
  
  .footer__grid{
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin:0 2rem;
}
}

            /* ~~~~~~~~~~~~~~~~~~~~~~~~  DARK MODE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (prefers-color-scheme: dark) {
body{
  color: #eee1ee;  
  background: linear-gradient(90deg, #19011c, #320138);  
}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   END BASE   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   START COMPONENTS    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~ BURGER ~~~~~~~~~~ */
.burger__menu {
  display: block;
}

/*  BURGER BTN  */
.burger__btn {
  display: flex;  
  justify-content: center;
  align-items: center;  
  gap: 2rem;

  position: relative;
  width: 6rem;
  height: 6rem;

  background-color: rgba(193, 17, 164, 0.6);
  border: none;
  border-radius: 4rem;
  cursor: pointer;  
}

.burger__text {
  display: none;
}

/*  BURGER BARS  */
.burger__btn .burger__bars {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: relative;
}

.burger__btn .burger__bar {
  width: 3.5rem;
  height: 0.4rem;
  background-color: #eee1ee;
  border-radius: 0.2rem;
  transition: all 0.4s ease;
}

/*  BURGER BARS TRANSFORM  */
.burger__btn.active .burger__bar:nth-child(1) { /* barre 1 tourne et se déplace */
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  width: 3.5rem;
}

.burger__btn.active .burger__bar:nth-child(2) { /* barre 2 disparaît */
  opacity: 0;
}

.burger__btn.active .burger__bar:nth-child(3) { /* barre 3 tourne et se déplace */
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 0;
  width: 3.5rem;
}

/*  BURGER LIST */
.burger__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  BURGER WRAP BOTTOM */
.burger__wrap {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;

  position: fixed;
  top: -21rem;
  right: 0;
  left: 0;

  width: 100%; 
  padding: 1rem;
  z-index: 1000;

  background-color: rgba(238, 73, 205, 0.9);
  backdrop-filter: blur(10px);

  box-shadow:
     rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
     rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
     rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

/*  BURGER OPEN  */
.burger__wrap.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.burger__wrap.open .burger__list {
  display: flex;
}

/* ~~~~~~~~~~  CTA BUTTONS  ~~~~~~~~~~ */
.cta__btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  max-width: 40rem;

  font-size: 1.8rem;
  font-weight: 700;
  margin: 3rem;
  padding: 0.9rem 2rem;
  
  background-color: #4a0867; 
  border-radius: 5rem;
  border: none;
  color: #ff66cc; 
  box-shadow: 0 6px 15px rgba(118, 3, 126, 0.6);

  transition: 
    background-color 0.3s ease, 
    box-shadow 0.3s ease, 
    transform 0.2s ease;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.cta__btn:hover {
  background-color: #6f1da9; 
  box-shadow: 0 4px 10px rgba(255, 102, 204, 0.6); 
}

.cta__btn:active {
  transform: scale(0.97);
  background-color: #7e26bbcc; 
  box-shadow: 0 4px 10px rgba(255, 102, 204, 0.6);
}

/* ~~~~~~~~~~  CARDS  ~~~~~~~~~~ */

/* CARD STYLE */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 100%;    

  border-radius: 2rem;
  background-color: rgba(238, 73, 205, 0.3);
  backdrop-filter: blur(10px);
  box-shadow:
    rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
    rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
    rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;

  background: url(/images/produits/trackers/splash2.png);
  background-position: 60% center;
  background-repeat: no-repeat;
}
/* INNER STYLE */
.card__img {
  width: 100%;
  height: auto;
}

.card__inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  text-align: center;
  /* TEXT BCKGROUND */
  background-color: rgba(36, 1, 35, 0.15);  
  backdrop-filter: blur(6px);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;   
}

.card__title {
  text-align: center;
}

.card__description {
  font-size: 1.8rem;
}

/* ~~~~~~~~~~  CROSSLINKS CARDS  ~~~~~~~~~~ */
/* POSITION */
.crosslinks__grid{
  display: flex;
  align-items: stretch;
  gap: 0.5rem; 
}

.crosslinks__cta{
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center; 
}

/* INNER STYLE */
.card--cta {
  width: 100%;
}

.card--cta .card__img {
  width: 100%;
}

.card--cta .card__description {
  font-size: 1.2rem;
}

/* ~~~~~~~~~~  SWIPER BUTTON  ~~~~~~~~~~ */
.swiper__btn {
  border-radius: 50%;
  background-color: rgba(255, 105, 180, 0.2); 
  border: none;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.3s ease;
  pointer-events: all;
  z-index: 2;
}
/* SWIPER ARROW */
.swiper__btn svg {
  fill: white; 
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}
/* SWIPER BTN TAP EFFECT */
.swiper__btn:active {
  background-color: rgba(255, 105, 180, 0.6); 
  transform: scale(0.95); 
}


                    /* ~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px) {

/* ~~~~~~~~~~ BURGER ~~~~~~~~~~ */

/* NO BACKGROUND */
  .burger__btn {
    background: none;
  }

/*  BURGER BTN TEXT  */
  .burger__btn .burger__text {
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "poppins", sans-serif;
    color: #41055b;
  }

/*  BURGER BARS */
  .burger__btn .burger__bar {  
    background-color: #41055b;  
}
 
  .burger__btn .burger__bar:nth-child(2) {
    display: none;
  }

  /*  BURGER LIST */
  .burger__list {    
    flex-direction: row;
    gap: 8rem;
    margin-left: 4rem;   
  }

/*  BURGER WRAP TOP */
  .burger__wrap {
    top: 12rem;
  }

/* ~~~~~~~~~~  CROSSLINKS CARDS  ~~~~~~~~~~ */
/* POSITION */
  .crosslinks__grid{
    gap: 3rem;
}

  .card--cta {
    display: flex;
    flex-direction: row;
    max-width: 40rem;
  }

  .card--cta .card__img {
  width: 20rem;
}

  .card--cta .card__description {
    font-size: 1.6rem;
  }
}

            /* ~~~~~~~~~~~~~~~~~~~~~~~~  DARK MODE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (prefers-color-scheme: dark) {

/* ~~~~~~~~~~ BURGER  ~~~~~~~~~~ */
 .burger__text {    
    color: #eee1ee !important;
  }

.burger__bar {  
    background-color: #eee1ee !important;  
}

  .burger__wrap{
    background-color: rgba(87, 4, 97, 0.9);
}

/* ~~~~~~~~~~  CTA BUTTONS  ~~~~~~~~~~ */
.cta__btn {  
  color: #4a0867 !important; /* évite l'écrasement de la couleur blanche par défaut en DM */
  background-color: #f9f7fb; 
  box-shadow: 0 6px 15px rgba(122, 3, 126, 0.6);  
}

.cta__btn:hover {
  background-color: #f66cef; 
  box-shadow: 0 4px 10px rgba(228, 203, 239, 0.6); 
}

.cta__btn:active {
  background-color: #e8e6f1; 
  box-shadow: 0 4px 10px rgba(74, 8, 103, 0.4);
}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   END COMPONENTS  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   START ANIMATIONS   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~  HOVER EFFECTS  ~~~~~~~~~~ */
.logo:hover, .icon:hover {
  transform: scale(1.1) rotate(-2deg);
  transition: transform 0.3s ease;
  cursor: pointer;
}

 .card--cta:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
 }

/* ~~~~~~~~~~  ANIM MAXIMALIST TITLE HERO  ~~~~~~~~~~ */
@keyframes glowTitle {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(10px);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
    filter: blur(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ~~~~~~~~~~  ANIM BUTTONS  ~~~~~~~~~~ */
/* HERO BTN */
.cta__btn--hero {
  animation: fadeZoomWiggle 2.5s ease-in-out infinite;
}

@keyframes fadeZoomWiggle {  
  10% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  12%, 16% {
    transform: scale(1) translateX(-6px);
  }
  14%, 18% {
    transform: scale(1) translateX(6px);
  }
  20% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}

/* CTA BTN */
@keyframes fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-zoom-in {
  animation: fadeZoomIn 0.6s ease-out forwards;
}

.fade-hidden {
  opacity: 0;
  transform: scale(0.9);
}

/* ~~~~~~~~~~  ANIM SLIDER AUTO - ABOUT SECTION  ~~~~~~~~~~ */
@keyframes scrollSlider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   END ANIMATION   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*  *************************************    END GLOBAL CSS    **************************************  */



/*  **********************************   START - INDEX   ********************************************  */
  
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   START HERO SECTION  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#hero {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin-top: -7rem;
  background-image: url(images/logos/logo-color-kit-0.png);
  background-size: cover;
  background-position:  center; 
  background-repeat: no-repeat;
  overflow: hidden;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

 .hero__grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
  }


                      /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px) {

  #hero { 
    margin-top: 0; 
    background-position: center;
  }

  .hero__grid{
    flex-direction: row;
    padding: 0 30rem 0 5rem;
    gap: 8rem;
  }

  .hero__grid-item--left{
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .hero__grid-item--right{
    flex: 1;
    margin-top: 10rem;
    text-align: center;
  }

/* ~~~~~~~~~~ TEXT ~~~~~~~~~~ */
  .hero__text{
    font-size: 2.5rem;
    text-align: center;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   END HERO SECTION  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START ABOUT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~   SLIDER AUTO   ~~~~~~~~~~ */
.about__container {
  padding: 4rem 0; 
}

.about__grid {
  display: flex;
  flex-direction: column;
}

/* ~~~~~~~~~~   IMAGES   ~~~~~~~~~~ */
.about__img {
  display: block;
  width: 60rem;
  height: auto;
}

/* ~~~~~~~~~~   POSITION DES IMAGES EN LIGNE   ~~~~~~~~~~ */
.about__slider-wrapper {  
  width: 100%;
  overflow: hidden;
}

.about__list-img {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: max-content;
  scrollbar-width: none;
  animation: scrollSlider 60s linear infinite; 
}

.about__list-img li {
  flex: 0 0 auto;
  width: fit-content;
  scroll-snap-align: start;  
}

/* ~~~~~~~~~~   LEGENDES   ~~~~~~~~~~ */
.about__img-with-caption {
  position: relative;
  display: inline-block;
}

/* ~~~~~~~~~~  POSITION DES LEGENDES   ~~~~~~~~~~ */
.about__caption {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* ajouter au left 50% = centrer parfaitement */
}

/* ~~~~~~~~~~  INTRO COLOR KIT   ~~~~~~~~~~ */
.about__grid-item--intro {  
  padding: 1rem;
  text-align: justify;  
}

/* ~~~~~~~~~~  BIO   ~~~~~~~~~~ */
.about__grid-item--bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 1rem;
  gap: 3rem;   
}

.about__avatar {
  display: flex;  
  width: 30rem;
  height: auto;
  border-radius: 50%;
}

.about__grid-item--text{  
  padding: 1rem;  
  width: 100%;  
  align-items: center;
  text-align: justify; 
}


                /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px){

/* ~~~~~~~~~~  ORDRE D'APPARITION DIFFERENT   ~~~~~~~~~~ */
  .about__grid-item--intro {
    order: 1;
  }

  .about__grid-item--img {
    order: 2;
  }

  .about__grid-item--bio {
    order: 3;
}
/* ~~~~~~~~~~  IMAGES SLIDER   ~~~~~~~~~~ */
  .about__img{
    width: 80rem;
    margin: 0 auto;
}
/* ~~~~~~~~~~  INTRO COLOR KIT   ~~~~~~~~~~ */
.about__grid-item--intro{  
  padding: 3rem;
  text-align: center;
}

/* ~~~~~~~~~~  BIO   ~~~~~~~~~~ */
.about__grid-item--bio {  
  flex-direction: row;
  justify-content: flex-start;  
  padding: 3rem;
  margin: 5rem;
  gap: 10rem;  
}
/* ~~~~~~~~~~  AVATAR   ~~~~~~~~~~ */
.about__avatar{
  width: 45rem;
}
/* ~~~~~~~~~~  TEXT   ~~~~~~~~~~ */
.about__grid-item--text{  
  padding: 6rem;  
}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   END ABOUT SECTION   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START PRODUCTS SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.products__grid{
  display:flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
  justify-items: center;
  width: 100%;  
}

                    /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px){

  .products__grid{
    flex-direction: row;
    justify-content: center;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END PRODUCTS SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START GALLERY SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.gallery__slider{
  position: relative;     
}

/* ~~~~~~~~~~   IMG POSITION IN LINE   ~~~~~~~~~~ */
.gallery__swiper-wrapper{  
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 5rem;
}

.gallery__img{
  display: block;
  width: 60rem;
  height: auto;
  border-radius: 1rem;
}

/* ~~~~~~~~~~   SWIPER BTN POSITION   ~~~~~~~~~~ */
.gallery__swiper-nav{
  display: flex;
  position: absolute;
  top: 10rem;
  left: 0.5rem;
  right: 0.5rem;  
}


                      /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px){

  .swiper-container{
    padding: 2rem;
  }

  .gallery--slider{
    padding: 2rem; 
}

/* ~~~~~~~~~~  BUTTON HIDDEN   ~~~~~~~~~~ */
  .gallery__swiper-nav{
    display: none;
  }

/* ~~~~~~~~~~  IMAGE   ~~~~~~~~~~ */
  .gallery__swiper-slide {
    height: 40rem; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 2rem; 
}
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

/* ~~~~~~~~~~   GRID ORGANISATION   ~~~~~~~~~~ */
.gallery__swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

   .gallery__swiper-slide:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1;
   }

   .gallery__swiper-slide:nth-child(2){
    grid-column: 2 / 5;
    grid-row: 1;
   }

   .gallery__swiper-slide:nth-child(3){
    grid-column: 1 / 4;
    grid-row: 2;
   }

   .gallery__swiper-slide:nth-child(4){
    grid-column: 4 / 5;
    grid-row: 2;
   } 
  }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END GALLERY SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START CONTACT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~   GRID ORGANISATION   ~~~~~~~~~~ */
.contact__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 5rem;
  
}

/* ~~~~~~~~~~   FORM STYLE & POSITION   ~~~~~~~~~~ */
form,
form label,
.form__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

form input,
textarea {
  width: 100%;
  border: 0.2rem solid #ee52ba;
  border-radius: 1rem;
  background-color: #eee1ee;
}

form input {
  height: 3rem;
}

textarea {
  height: 15rem;
}

form .cta__btn{
  width: 20rem;
}


/* ~~~~~~~~~~   CHECKBOX STYLE & POSITION   ~~~~~~~~~~ */
.checkbox-label{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap:1rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.checkbox-label input[type="checkbox"] {
  margin-top: 0.2rem; 
  flex-shrink: 0;
  width: 2rem; 
  height: 2rem;  
}

/* ~~~~~~~~~~   PLACEHOLDER STYLE   ~~~~~~~~~~ */
::placeholder {
  color: #7826d7;
  font-style: italic;
  font-size: 1.2rem;
}

/* ~~~~~~~~~~   INSTA PART   ~~~~~~~~~~ */
.contact__grid-item--insta-share {  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.contact__grid-item--insta-share svg{
  width: 10rem;
  height: auto;
}


                  /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 750px) {

/* ~~~~~~~~~~   GRID POSITION   ~~~~~~~~~~ */
  .contact__grid{    
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 3rem 20rem;
    gap: 8rem;

    background-color: rgba(238, 73, 205, 0.3);
    backdrop-filter: blur(10px);
    box-shadow:
      rgba(57, 5, 73, 0.25) 0px 50px 100px -20px,
      rgba(70, 4, 71, 0.3) 0px 30px 60px -30px,
      rgba(52, 1, 52, 0.35) 0px -2px 6px 0px inset;
}
/* ~~~~~~~~~~   FORM & INSTA INLINE POSITION    ~~~~~~~~~~ */
  .form__row {
    flex-direction: row;
  }

  .form__row label {
    flex: 1;
  }

  .contact__grid-item--form {
    flex: 2;
}

  .contact__grid-item--insta-share {
    flex: 1;
} 
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   END CONTACT SECTION  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*  *************************************    END - INDEX   ******************************************  */




/*  *****************************    START - NUANCIERS / STICKERS PAGES  ******************************  */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CAROUSEL 3D STYLE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~   CAROUSEL CONTAINER   ~~~~~~~~~~ */
.carousel3D__wrapper{
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 40rem; 
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;    
}

/* ~~~~~~~~~~   CAROUSEL POSITION   ~~~~~~~~~~ */
.carousel3D__items{
  display: flex;
  width: 100%;
  max-width:100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* ~~~~~~~~~~   CAROUSEL   ~~~~~~~~~~ */
.carousel3D__slide{ 
  width: 100%;
  max-width: 100%;

  perspective: 1500px; /* effet 3D */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center; 

/* ~~~~~~~~~~  MASKING SCROLLBAR   ~~~~~~~~~~ */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Edge */
}
.carousel3D__slide::-webkit-scrollbar { /* Safari */
  display: none;
}

/* ~~~~~~~~~~   BUTTONS  ~~~~~~~~~~ */
.carousel3D__swiper-nav{  
  display: flex;
  justify-content:center;
  cursor: pointer;
  pointer-events: all;
  z-index: 2;   
}

.swiper__btn--prev {
  left: 0.5rem;
  top: 10rem; /*descends le bouton */
  position: absolute;  
}

.swiper__btn--next {
  right: 0.5rem;
  top: 10rem; 
  position: absolute;  
}

/* ~~~~~~~~~~   CARDS   ~~~~~~~~~~ */
.carousel3D__card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  position: absolute;  

  width: 20rem;
  height: 30rem;

  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  cursor: pointer;

  background-size: cover;
  background-position: center;
/* ~~~~~~~~~~   EFFET passe l'une devant l'autre   ~~~~~~~~~~ */
  transition: transform 0.5s ease, z-index 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}

/* ~~~~~~~~~~   CAPTIONS   ~~~~~~~~~~ */
.carousel3D__caption{
  color: #41055b;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;

  background-color: rgba(238, 73, 205, 0.2);
  backdrop-filter: blur(10px);
 
}


                  /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 750px) {

/* ~~~~~~~~~~   BUTTONS   ~~~~~~~~~~ */
  .swiper__btn--prev {
    left: 20rem;  
}

.swiper__btn--next {
  right: 20rem;   
}
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  NUANCIERS IMAGES  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.carousel3D__card--N1{
    background: url(images/produits/nuanciers/nuancier-eventail-telecharger-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N2{
    background: url(images/produits/nuanciers/couverture-nuanciers-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N3{
    background: url(images/produits/nuanciers/nuancier-48-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N4{
    background: url(images/produits/nuanciers/nuancier-72-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N5{
    background: url(images/produits/nuanciers/nuancier-100-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N6{
    background: url(images/produits/nuanciers/nuancier-120-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N7{
    background: url(images/produits/nuanciers/nuancier-150-a4-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N8{
    background: url(images/produits/nuanciers/couverture-nuanciers-a5-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N9{
    background: url(images/produits/nuanciers/nuancier-48-a5-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N10{
    background: url(images/produits/nuanciers/nuancier-72-a5-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N11{
    background: url(images/produits/nuanciers/nuancier-100-a5-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--N12{
    background: url(images/produits/nuanciers/nuancier-120-a5-color-kit.webp);
    background-size: cover;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   STICKERS - IMAGES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.carousel3D__card--S1{
    background: url(images/produits/stickers/stickers-rond-1-130-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S2{
    background: url(images/produits/stickers/stickers-rond-131-260-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S3{
    background: url(images/produits/stickers/stickers-rond-check-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S4{
    background: url(images/produits/stickers/stickers-rond-mood-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S5{
    background: url(images/produits/stickers/stickers-rectangle-1-130-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S6{
    background: url(images/produits/stickers/stickers-rectangle-131-260-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S7{
    background: url(images/produits/stickers/stickers-carres-check-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S8{
    background: url(images/produits/stickers/stickers-carres-mood-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S9{
    background: url(images/produits/stickers/etiquettes-organisation-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S10{
    background: url(images/produits/stickers/etiquettes-vierge-color-kit.webp);
    background-size: cover;
}

.carousel3D__card--S11{
    background: url(images/produits/stickers/stickers-inspirants-color-kit.webp);
    background-size: cover;
}
/*  ****************************    END -  NUANCIERS / STICKERS PAGES  *******************************  */



/*  *************************************   START TRACKERS PAGE  **************************************  */
.trackers__grid{
  display:flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-items: center;  
}
/* ~~~~~~~~~~   CARDS SIZE   ~~~~~~~~~~ */
.card--trackers {
  max-width: 40rem;
}

                    /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px){

  .trackers__grid{
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 8rem;    
  }
  .card--trackers .card__inner{
    margin-top: auto; 
  }
}

/*  *************************************   END TRACKERS PAGE  **************************************  */

/*  *************************************   START LEGAL PAGES  **************************************  */

.legal{
  margin-top: 2rem;
}

.legal__section{
  padding: 2rem;
}

.privacy-policy__list{
  padding: 3rem;
}

@media screen and (min-width: 750px){
  .legal{
    margin-top: 20rem;
  }

  .legal__section{
    padding: 5rem 30rem 5rem 5rem;
  text-align: justify;
}
}

/*  *************************************   END LEGAL PAGES  **************************************  */

/*  ***************************    START - LANDING STICKERS & TRACKERS   *****************************  */

/* ~~~~~~~~~~   BACKGROUND IMAGE   ~~~~~~~~~~ */
.landing__page{
  width: 100%;
  min-height: 100vh;

  background-size: contain; 
  background-repeat: no-repeat;
  background-position: bottom;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.landing__page--stickers {
  background-image: url('../images/landing/stickers-portrait-landing-color-kit.png');  
}

.landing__page--trackers {
  background-image: url('../images/landing/trackers-portrait-landing-color-kit.png');
}

/* ~~~~~~~~~~   ENCART TEXT   ~~~~~~~~~~ */
.landing__overlay {
  width: 100%;
  max-width: 100rem;

  background-color: rgba(65, 4, 83, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  border-radius: 1.5rem;
  padding: 2rem;
  margin-top: 1rem; 
  text-align: center;
}

.landing__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.landing__title {
  font-size: 2.5rem;
  font-weight: 700;
}

.landing__description {
  padding: 2rem;
  text-align: center;
}

.landing__btn {
  display: flex;
  justify-content: center;
}

/* ~~~~~~~~~~   FOOTER  ~~~~~~~~~~ */
.landing-page .footer__grid{
  justify-content: center;
}

.landing-page .footer__grid-item--quick-links, .landing-page .footer__grid-item--social{
  display: none
}

                  /* ~~~~~~~~~~~~~~~~~~~~~~~~  Desktop   ~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 750px) {
  /* ~~~~~~~~~~   IMAGES  ~~~~~~~~~~ */

  .landing__page--stickers {
    background-image: url('../images/landing/stickers-paysage-landing-color-kit.png');
}

  .landing__page--trackers { 
    background-image: url('../images/landing/trackers-paysage-landing-color-kit.png');
}
}
/*  ***************************   END - LANDING STICKERS & TRACKERS   *****************************  */